/* contacts section */

.containers.contacts{
  background-color: #9b2226;
  color: white;
  height: 40vh;
}
.navbar_list{
  display: flex;
}
.nav_links{

}
.contacts_nav{

}
.contact_icon{

}
.portfolio_feedback{

}
.ig_icons{
  height: 30px;
}
/* Desktop and laptop */
@media only screen and (min-width: 1200px) {

}

/* Laptop and tablet */
@media only screen and (min-width: 970px) {

}
