/* landing page section- intro header styling */
/*  */
.intro_header{
  /* height: 100vh; */
  display: flex;
  /* justify-content: center; */
  align-items: center;

  /* scroll-snap-type: y mandatory; */

  /* background-color: black; */
  color: white;

  background-image: url("../assets/Abdulmalik and laptop.jpg");
  background-size: 120%;
  background-repeat: no-repeat;
  /* background-position: left, center, right; */

  /* background-image: linear-gradient(to right,rgba(238,155,73,1), rgba(255,255,255,1)); */

  /* background-image: linear-gradient(to right,rgba(238,155,73,1), rgba(255,255,255,1)); */


  /* background-image: url("./Assets/Abdulmalik\'s\ portrait V4.jpg"), url("./Assets/Abdulmalik\'s\ portrait V4.2.jpg"), url("./Assets/Abdulmalik\'s\ portrait V4.5.jpg");
  background-size: 30%, 30%, 30%;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: left, center, right;
} */

  /* background-image: url("assets/Abdulmalik's portrait V4.2.jpg"), url("../assets/Abdulmalik's portrait V4.jpg"), url("assets/Abdulmalik's portrait V4.5.jpg");
  background-size: contain;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: center, left, right; */

}
.intro_header, .intro_contents{
  min-height: 100vh;
  width: 100vw;

  scroll-snap-align: start;
}
.intro_contents{
  padding-left: 3%;
  /* background-image: linear-gradient(to right,rgba(238,155,73,1), rgba(255,255,255,1)); */
  background-color: rgba(238,155,73,1);
  -webkit-mask-image: linear-gradient(to right, rgba(238,155,73,1), rgba(255,255,255,1));
  mask-image: linear-gradient(to right, rgba(238,155,73,1), rgba(255,255,255,1));
  display: flex;
  /* justify-content: center; */
  align-items: center;
}
.intro_icons{
  height: 50px;

}
.intro_name{
  font-size: 50px;
  font-weight: 900;
  text-shadow: -8px 8px 1px #bb3e03,-12px 12px 1px #ae2012;
}
.intro_name:hover{
  /* text-shadow: 5px 5px 5px #e18a02; */
  /* color: rgba(0, 0, 0, 0.0); */
  color: #ae2012;
  text-shadow: -10px 10px 1px #e9d8a6; /*-5px 5px 1px #bb3e03, -10px 10px 1px #ca6702,*/
  cursor: url("../assets/Abdulmalik's portrait V4.2.jpg");
}
.intro_name.first_name{

}
.intro_name.middle_name{

}
.intro_name.last_name{

}

.intro_caption{
  font-size: 90%;
  font-weight: 700;
}

 #intro_nav{

 }
 li a#intro_nav:hover{
   /* text-shadow: 5px 5px 5px #e18a02; */
   /* color: rgba(0, 0, 0, 0.0); */
   color: black;
   text-shadow: 0 0 5px #e18a02,0 0 7px white;

 }
/* Desktop and laptop */
@media only screen and (min-width: 1200px) {

}

/* Laptop and tablet */
@media only screen and (min-width: 970px) {
  .intro_contents{
    /* min-height: 100vh; */
    width: 45vw;

    /* scroll-snap-align: start; */
  }
}
